.container-h1 {
  display: flex;
  justify-content: space-between;
  background-color: lightpink;
  align-items: center;
  padding: 20px;
  font-size: 30px;
}

.container-navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
  padding: 20px;
}

.container-navbar li {
  margin: 0 15px;
  cursor: pointer;
  position: relative;
}

.container-navbar li:hover {
  border-radius: 70%;
  -webkit-border-radius: 70%;
  box-shadow: 0px 0px 10px 10px lightpink;
  -webkit-box-shadow: 0px 0px 10px 10px lightpink;
}

.imagen-logo {
  width: 100px;
  height: 100px;
}
